body {
    box-sizing: border-box;
    /* border: 2px solid black; */
    background: linear-gradient(to bottom, #F2BED1, #FDCEDF);
    height: 100%;
}
 html {
    /* border: 1px solid black; */
    height: 100%;
 }

.nav {
    padding: 30px 0px;
    text-align: center;
    font-size: xx-large;
    background-color: #99627A;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    border-radius: 10px;
    color: white;
}

.container {
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: #F0997D;
    border-radius: 10px;
}

.waffle,
.crepe,
.strawberry {
    display: inline-block;
    margin: 10px 10px;
    background-color: #F9F5F6;
    border-radius: 10px;
    box-shadow: 2px 2px 7px;
}

img {
    border-radius: 10px;
}


